<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}">
		<img src="{{site.author.uno-dbyll}}" class="img-circle" style="border-radius: 50%;
border: 3px solid #FFF; height:150px;width:150px" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}">{{ site.title }}</a>
         <p style="font-size:20px;">{{ site.author.role }}</p>
    </h3>

    <hr class="hr-line">
<h3 class="title">
         <p style="font-size:18px"></p>
    </h3>

    <hr class="hr-line1">
 <h3 class="title" style="font-size:30px;">

       {% if site.author.github %}
      <a type="button" class="social1" href="http://github.com/{{ site.author.github }}">
        <i class="fa fa-github"></i>
      </a>
      {% endif %}

      {% if site.author.facebook %}
      <a type="button" class="social1" href="https://www.facebook.com/{{site.author.facebook}}">
        <i class="fa fa-facebook"></i>
      </a>
      {% endif %}
       <a type="button"  class="social1" id="btnblog" href="{{ site.BASE_PATH }}/#blog">
        <i class="fa" style="letter-spacing:0; position:relative; top:-5px; left: -5px; font-size:20px;font-family:arial,sans-serif">Blog</i>
      </a>
      </h3>

</header>



<! -- sidebar.html end -->
